.game-container {
    display: inline-flex;
    width: 100%;
}

#dal-field {
    height: 800px;
    width: 600px;
    border: solid 1px black;
    margin-right: 10px;
    margin-left: 30%;
}

#dal-canvas {
    margin: 10px;
}

.dal-controls-container {
    margin-top: 10px;
    margin-right: 100px;
    width: 100%;
}