.game-container {
    display: inline-flex;
}

.field {
    height: 800px;
    width: 600px;
    border: solid 1px black;
    margin-right: 10px;
    margin-left: 50%;
}

#canvas {
    margin: 10px;
}

.controls .activate {
    margin-top: 10px;
}